<template>
  <div class="giphy">
    <font-awesome-icon class="giphy__favorites" icon="fa-solid fa-heart" @click="saveToFavorites"/>
    <router-link :to="{ name: 'gifDetail', params: { id: gif.id} }">
      <img :src="rendering.url">
      <div class="giphy__overlay_info">
        <template v-if="author">
          <img :src="author.avatar_url" :alt="author.display_name">
          <p class="giphy__overlay_info_user"> {{ gif.user.display_name }} </p>
        </template>
        <template v-else>
          <p class="giphy__overlay_info_title"> {{ gif.title }} </p>
        </template>
      </div>      
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'giphyCardComponent',
    props: {
      gif: { 
        Object, 
        required: true 
      }
    },

    computed: {
      rendering() {
        return this.gif.images.fixed_width_small;
      },
      author() {
        return this.gif.user;
      }
    },

    methods: {
      saveToFavorites() {
        const myFavoritesList = localStorage.getItem('my-favorites');
        const gifToFavorites = { 
          id: this.gif.id,
          title: this.gif.title,
          gif: this.gif.images.fixed_width_small
        }

        if(myFavoritesList) {
          const gifsInFavorites = JSON.parse(JSON.stringify(this.$root.$store.getters.getFavoriteGifs));

          if(gifsInFavorites) {
            const isGifInFavorites = gifsInFavorites.some( (gif) => gif['id'] === gifToFavorites.id);

            if(!isGifInFavorites) {
              this.$root.$store.dispatch("saveToFavoriteGifs", gifToFavorites);
              
              gifsInFavorites.push(gifToFavorites);
              localStorage.setItem('my-favorites', JSON.stringify(gifsInFavorites));
            }
          }

          return null;
        }

        this.$root.$store.dispatch("saveToFavoriteGifs", gifToFavorites);
        localStorage.setItem('my-favorites', JSON.stringify([gifToFavorites]));
      }
    }
  }
</script>

<style lang="scss" scoped>
  .giphy {
    position: relative;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: .4rem;
    }

    &__favorites {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      padding: .5rem;
      opacity: 0;
  
      filter: drop-shadow(0 0 1px rgba(59, 59, 59, 0.4));
      
      &:hover {
        cursor: pointer;
        animation-name: example;
        animation-duration: .4s;
        animation-iteration-count: infinite;        
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0));
        
        > path {
          fill: rgb(228, 80, 80);
        }
      }

      @keyframes example {
        from {font-size: 1.2rem;}
        to {font-size: 1.3rem;}
      }
    }   

    &__overlay_info {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: grid;
      grid-template-columns: max-content minmax(0, max-content);;
      align-items: center;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.8)
      );
      gap: .5rem;
      opacity: 0;
      padding: .5rem;
      transition: opacity ease-out .3s;

      img {
        object-fit: cover;
        width: 2rem;
        height: 2rem;
      }

      &_user {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
      }

      &_title {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        padding: .5rem;
      }
    } 

    &:hover {
      .giphy__favorites {
        opacity: 1;
      }

      .giphy__overlay_info {
        opacity: 1;

        &_title {
          opacity: 1;
        }
      }


    }
  }
</style>