@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layout-background: #18181b;
}

@layer base {
  * {
    color: #FFF;
  }

  html {
    font-family: Mukta, sans-serif;
  }

  body {
    background-color: var(--layout-background);
    margin: 1rem auto;
    max-width: 1000px;
    min-height: calc(100vh - 2rem);
  }

  h4 {
    font-size: 1.5rem;
  }
}

@layer components {
  .trendingGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, auto));
    grid-auto-rows: 150px;
    @apply gap-4;
    @apply place-content-center;
  }
}

@layer utilities {
  @variants responsive {
      .masonry {
        columns: 1;
        column-gap: 1rem;
        width: 300px;
        margin: 0 auto;
      }
      .masonry-xs {
        columns: 2 238px;
        column-gap: 1rem;
        width: 100%;
      }
      .masonry-sm {
        columns: 3 238px;
        column-gap: 1rem;
        width: 100%;
      }
      .masonry-md {
        columns: 4 238px;
        column-gap: 1rem;
        width: 100%;
      }

      .trendingGrid-xs {
        grid-template-columns: repeat(2, minmax(min-content, auto));
      }

      .trendingGrid-sm {
        grid-template-columns: repeat(3, minmax(min-content, auto));
      }

      .trendingGrid-md {
        grid-template-columns: repeat(4, minmax(min-content, auto));
      }
    }
  }

